/*DOCUMENTO CSS*/

body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    background-color: #ede9e4;
}
header {
    background-color: #A81207;
    height: 100px;
    padding-top: 25px;
    color: white;
    text-align: center;
}
main {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    align-content: center;
}
.box {
    width: 250px;
    height: 400px;
    background-color: #A81207;
    border-radius: 10px;
    padding: 10px;
    color: #f4efec;
    text-align: center;
    margin: 10px;
}

.box:hover{
    box-shadow: 6px 6px 10px #a4a4a4;
}

.box h2{margin: 0 0 10px 0;
    padding: 0;

}

.box figure {width: 250px;
    margin: 0;
    padding:0;

}
.box p{

}
footer {
    background-color: #cf97a0;
    height: 70px;
    padding-top: 10px;
    color: darkred;
    text-align: center;

}